*{box-sizing:border-box;
    margin: 1em;
    padding: 0em;
    font-family: "Arial";
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff
}
nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
nav ul{
    list-style: none;
    float: right;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
}
nav ul li a:hover{
    background: rgb(230, 230, 230);
    border-radius: 6px;
    box-shadow:0 0 10px 4px rgb(0, 0, 0);
    color: black;
}
section{
    width: 100%;
    height: 15vh;
}

body {
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 15px;
    }
    .dark-mode {
    background-color: black;
    color: white;
    }
    .light-mode {
    background-color: white;
    color: black;
    }

body{background-color:rgb(228, 243, 221);
    color:black;
    border-radius:10px;
    border:black;
    }

h1 {text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:3em;}

.button:hover {
    box-shadow: 0 0 10px 0 #000000 inset, 0 0 10px 4px  #cadce4;
    background-position: 0;
}
.button {
    border-color: hsl(60, 10%, 92%);
    background-image: linear-gradient(45deg, #cadce4 73%, transparent 50%);
    background-position: 100%;
    background-size: 200%;
    transition: 300ms ease-in-out;
    padding: 0.5em 2em;
    border: 0.2em rgb(0, 0, 0) solid;
    background-color: white;
    border-radius: 1.7em;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}


p{text-align: left;}
ul{text-align: left;}